<div id="maindiv">
  <p class='fontClass'>
    <!-- implemented inbuild pipe -->
    {{ amount | currency: formate }}
    <button (click)="ToggleCurrency()">Toggle Currency</button>
    {{"this is formated with custom pipes" | change : true : "singlequote"}}
   </p>
   <p appSiddhucustome>
      this is custome directive example.
   </p>
  <div class="button">
    <a [routerLink]="[ '/dashboard']">Dash Board</a>
  </div>
  <div class="button">
    <a [routerLink]="[ '/register']">Register</a>
  </div>
  <div class="button">
    <a [routerLink]="[ '/login']">Login</a>
  </div>  
</div>