<div class="container">
  <p class='fontClass'>
    This is Registeration page that will be displayed to the user when the user click on Register button.
  </p>
  <form #registerForm="ngForm" (ngSubmit)="registerUser(registerForm)">
    <div class="row">
      <div class="col-25">
        <label for="username">User Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="username" name="username" placeholder="User Name.." [(ngModel)]="username">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="password">Password</label>
      </div>
      <div class="col-75">
        <input type="password" id="password" name="password" placeholder="Password.." [(ngModel)]="password">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="cpassword">Confirm Password</label>
      </div>
      <div class="col-75">
        <input type="password" id="cpassword" name="cpassword" placeholder="Confirm Password.." [(ngModel)]="cpassword">
      </div>
    </div>
    <!--  <div class="row">
        <div class="col-25">
          <label for="country">Country</label>
        </div>
        <div class="col-75">
          <select id="country" name="country">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="subject">Subject</label>
        </div>
        <div class="col-75">
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
        </div>
      </div> -->
      <div class="row">
          <input type="submit" value="Submit">
          <button (click)="goBack()" [ngClass]="{'button': true}"> Go Back</button>
      </div>  
  </form>
</div>